html
	height 100%

	body
		height 100%
		padding 0
		margin 0 // gets rid of white border
		font-family Calligraffitti, Verdana, Arial

		#content
			margin 0
			width 100%
			height 100%
			background-color DeepSkyBlue

			#middle
				position absolute
				top 4.5%
				height 90%
				width 69%
				left 0

				.leftTableContainer
					position absolute
					width 29%
					height 99.5%
					background-color DarkTurquoise 

				.rightListContainer
					position absolute
					width 70%
					right 0
					height 99.5%
					background-color SpringGreen

			#skyscraper
				position absolute
				right 0
				top 0
				width 160px
				height 100%
				background-color RoyalBlue

			a.headerLink
				display inline-block
				color RoyalBlue
				top 0
				bottom 1em
				max-width 25em

			a.footerLink
				position absolute
				left 0
				bottom 0em

			span.side-note
				display inline-block
				color Navy
				width 50%